@import (inline) '../../../node_modules/normalize.css/normalize.css';
@import (inline) '../../../node_modules/react-input-range/dist/react-input-range.css';
@import './grid';
@import './fonts';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: proxima_nova_rgregular;
}

.container {
  &.main {
    margin-top: 80px;
  }
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For a dark theme, placeholder must be white */
.dark {
  ::-webkit-input-placeholder {
     color: #FFF;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #FFF;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #FFF;
  }

  :-ms-input-placeholder {
     color: #FFF;
  }
}

.full-height {
  height: 100% !important;
}

// Slider CSS
.bar {
  position: absolute;
  left: 0px;
  right: 934px;
  height: 5px;
  border-radius: 5px;
  top: 25px;
  background: #CFD8DD;
}

.bar.bar-1 {
  background: #5D97F8 !important;
}


// CSS Loader http://codepen.io/simoncla/pen/FBoqA
.roam-loader-slider {
  position:relative;
  width:400px;
  height: 100%;
  opacity: 0.8;
  left: 26%;

  .roam-loader-line{
    position:absolute;
    background:#4a8df8;
    width:400px;
    height:2px;
    top: 50%;

  }
  .roam-loader-break{
    position:absolute;
    background:#DFDFDF;
    width:4px;
    top: 50%;
    height:2px;
  }

  .roam-loader-dot1{ animation: loading 3s infinite;}
  .roam-loader-dot2{ animation: loading 3s 0.5s infinite; }
  .roam-loader-dot3{ animation: loading 3s 1s infinite; }

}

@keyframes loading {
 from { left: 0; }
 to { left: 400px; }
}

// Spinner icon
.spinner-icon {
  animation: rotate 0.8s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// product hierarchy list
li.list-item-hierarchy:not(:last-child):after {
  content: "\203A";
  margin-left: 7px;
  vertical-align: middle;
}


#vis-graph-container {
  canvas {
    background: #29292B;
    background: -moz-radial-gradient(center, ellipse cover, #29292B 0%, #151515 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #29292B 0%,#151515 100%);
    background: radial-gradient(ellipse at center, #29292B 0%,#151515 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29292B', endColorstr='#151515',GradientType=1 );
  }
}

.sidemenu {
  position: fixed;
  width: 30%;
  background: #EAE9E9;
  color: #656464;
  max-height: 100%;
  overflow-y: scroll;
  right: 0;
  border: 1px solid #ECECEC;
  padding: 20px;
  top: 50px;
  z-index: 10;
}



ul.stack {
  list-style: none;
  padding: 0px;
}

li.stack-item {
    zoom: 1;
    border: 1px solid #C3C3C3;
    margin: 5px 20px;
    padding: 10px;
}

.stack-number {
  background: #848484;
  padding: 5px 11px;
  border-radius: 50%;
  color: #FFF;
  font-size: 13px;
}

.bindable-var {
  float: left;
  .bindable-var-label {
    color: rgb(255, 255, 255);
    background: rgb(28, 164, 216);
    padding: 4px;
    border-radius: 15px;
    font-size: 12px;
  }

}

.canvas-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

    & canvas {
      background: transparent;
    }
}

.stack-attr {
  margin: 5px 10px;
  display: inline-block;
}

.range-slider {
  margin: 15px;
  padding: 5px;
}

.range-slider-handle {
    position: absolute;
    cursor: pointer;
    background: #349CF3;
    border-radius: 50%;
    border: 2px solid steelblue;
    width: 20px;
    top: -4px;
    height: 20px;
}

.stack-group {
  border: 1px solid #ECECEC;
  margin: 5px;
  max-height: 0px;
  overflow: hidden;
  transition: 0.4s max-height ease-out;

  .fa {
    margin: 0px 10px;
    float: right;
  }

  &.open {
    max-height: 2000px;
  }
}

.group-container {

  .fa {
    margin: 5px 10px;
    cursor: pointer;
  }

  > .heading {
    background: #E0E0E0;
    width: 100%;
    padding: 3px;
    text-align: center;
  }
}

.datastore-view {
  position: fixed;
  top: 50px;
  left: 0px;
  z-index:10;
}

.highlight-droppable {
  .binding-droppable {
    color: #0F75CA !important;
    font-size: 20px;
    text-align: center;
  }
}

.binding-droppable {
  text-align: center;
}

.binding-expression-input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ECECEC;
  color: #009688;
  font-size: 14px;
}

.binding-expression {
  margin: 5px 15px;
  border: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.animation-bar {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0px;
  height: 50px;
  padding: 15px;
  background: rgba(62, 62, 62, 0.56);
}